<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dnjh.spring.test.mybatis.repository.RealEstateRepository">
 	<select id="selectRealEstate" resultType="com.dnjh.spring.test.mybatis.domain.RealEstate"
 	parameterType="int">
 		SELECT
 			`id`
 			, `officeId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`id` = #{id}
 	</select>
 	
 	<select id="selectRentPrice" resultType="com.dnjh.spring.test.mybatis.domain.RealEstate"
 	parameterType="Integer">
 		SELECT
 			`id`
 			, `officeId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			<![CDATA[
 				`rentPrice` < #{rentPrice}
 			]]>
 	</select>
 	
 	<select id="selectAreaPrice" resultType="com.dnjh.spring.test.mybatis.domain.RealEstate"
 	parameterType="map">
 		SELECT
 			`id`
 			, `officeId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			<![CDATA[
 				`area` < #{area} 
 				AND
 				`price` < #{price}
 				AND `type` = '매매'
 			]]>
 	</select>
 	
 	<insert id="insertObjectRealEstate" parameterType="com.dnjh.spring.test.mybatis.domain.RealEstate">
 		INSERT
 			`real_estate`
 			(
 				`officeId`
 				, `address`
 				, `area`
 				, `type`
 				, `price`
 			)
 		VALUE
 			(
 				#{officeId}
 				, #{address}
 				, #{area}
 				, #{type}
 				, #{price}
 			) 			
 	</insert>
 	
 	<insert id="insertParamRealEstate" parameterType="map">
 		INSERT
 			`real_estate`
 			(
 				`officeId`
 				, `address`
 				, `area`
 				, `type`
 				, `price`
 				, `rentPrice`
 			)
 		VALUE
 			(
 				#{officeId}
 				, #{address}
 				, #{area}
 				, #{type}
 				, #{price}
 				, #{rentPrice}
 			)
 	</insert>
 	
 	<update id="updateRealEstate" parameterType="map">
 		UPDATE
 			`real_estate`
 		SET
 			`price` = #{price}
 			, `type` = #{type}
 			, `updatedAt` = now()
 		WHERE 
 			<![CDATA[
 				`id` = #{id}
 			]]>
 	</update>
 	
 	<delete id="deleteRealEstate" parameterType="int">
 		DELETE
 			
 		FROM
 			`real_estate`
 		WHERE
 			<![CDATA[
 				`id` = #{id}
 			]]>
 	</delete>
 </mapper>