<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dnjh.spring.test.thymeleaf.repository.WeatherRepository">
 	<select id="selectWeather" resultType="com.dnjh.spring.test.thymeleaf.domain.WeatherHistory">
 		SELECT
 			`date`
 			, `weather`
 			, `temperatures`
 			, `precipitation`
 			, `microDust`
 			, `windSpeed`
 		FROM
 			`weatherhistory`
 	</select>
 	
 	<insert id="createWeather" parameterType="Map">
 		INSERT INTO
 			`weatherhistory`
 			(
 				`date`
 				, `weather`
 				, `temperatures`
 				, `precipitation`
 				, `microDust`
 				, `windSpeed`
 			)
 		Value
 			(
 				#{date}
 				, #{weather}
 				, #{temperatures}
 				, #{precipitation}
 				, #{microDust}
 				, #{windSpeed}
 			)
 	</insert>
 </mapper>