<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>멤버쉽</title>
</head>
<body>
	<h2>멤버쉽</h2>
	
	<table class="table">
		<thead>
			<th class="text-center">이름</th>
			<th class="text-center">전화번호</th>
			<th class="text-center">등급</th>
			<th class="text-center">포인트</th>
		</thead>
		
		<tbody>
			<th:block th:with="vip='VIP'">
			<tr th:each="member:${memberShip}">
				<td th:text="${member.name}" class="text-center">손오공</td>
				<td th:text="${member.phoneNumber}" class="text-center">010-1234-5678</td>
				<td th:if="${#strings.equals(member.grade.toString(), 'VIP')}" class="text-danger text-center" th:text="${member.grade}"></td>
				<td th:if="${#strings.equals(member.grade.toString(), 'GOLD')}" class="text-warning text-center" th:text="${member.grade}"></td>
				<td th:if="${#strings.equals(member.grade.toString(), 'BASIC')}" class="text-center" th:text="${member.grade}"></td>
				<td th:if="${member.point > 5000}" class="text-primary text-center" th:text="${member.point}+P"></td>			
				<td th:unless="${member.point > 5000}" class="text-center" th:text="${member.point}+P"></td>		
			</tr>
			</th:block>	
		</tbody>
	</table>
</body>
</html>