<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>반복문</title>
</head>
<body>
	<h1>HOT 5</h1>
	<table class="table">
		<thead>
			<th class="text-center">순위</th>
			<th class="text-center">제목</th>
		</thead>
		
		<tbody>
			<tr th:each="music, status:${musicRanking}">
				<td th:text="${status.count}" class="text-center">1</td>
				<td th:text="${music}" class="text-center">강남스타일</td>
			</tr>
		</tbody>
	</table>
</body>
</html>