<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>날짜 포맷과 String 함수</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<h2>회원 정보 리스트</h2>
	
	<table class="table">
		<thead>
			<th>No</th>
			<th>이름</th>
			<th>생년월일</th>
			<th>전화번호</th>
			<th>국적</th>
			<th>이메일</th>
			<th>자기소개</th>
		</thead>
		<tbody>
			<tr th:each="member, status:${members}">
				<td th:text="${status.count}">1</td>
				<td th:text="${member.name}">유비</td>
				<td th:text="${#temporals.format(member.birth, 'yyy년MM월dd일')}"></td>
				<td th:if="${#strings.startsWith(member.phoneNumber, '010')}" th:text="${member.phoneNumber}"></td>
				<td th:unless="${#strings.startsWith(member.phoneNumber, '010')}">유효하지 않은 전화번호</td>
				<td th:text="${#strings.replace(member.nationality, '삼국시대', '삼국 - ')}"></td>
				<td>
					<span class="font-weight-bold" th:text="${#strings.arraySplit(member.email, '@')[0]}"></span>
					<span th:text="${#strings.arraySplit(member.email, '@')[1]}"></span>
				</td>
				<td th:with="num=${#strings.length(member.introduce)}">
					<span  th:unless="${num >= 15}" th:text="${member.introduce}"></span>
					<span  th:if="${num >= 15}" th:text="${#strings.substring(member.introduce, 0, 16)} + '...'"></span>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>