<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>종합문제 1</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/test04-info.css">
</head>
<body>
	<h3>1. 날씨 정보 페이지</h3>
	
	<!-- css/style.css -->
	<div id="wrap">
		<div class="main d-flex">
			<div class="bg-primary menu">
				<div class="menu-Logo">
					<img width="200px" height="100px" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F5783%2F2020%2F09%2F11%2F0000010803_001_20200911115950442.jpg&type=sc960_832">
				</div>
				<div class="sub-menu">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link text-light" href="#">날씨</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="#">날씨입력</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="#">테마날씨</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="#">관측 기후</a>
						</li>
					</ul>
			</div>
			</div>
			<div class="info ml-3">
				<h3>과거 날씨</h3>
				<table class="table">
					<thead>
						<th>날짜</th>
						<th>날씨</th>
						<th>기온</th>
						<th>강수량</th>
						<th>미세먼지</th>
						<th>풍속</th>
					</thead>
					<tbody>
						<tr th:each="weather:${list}">
							<td th:text="${weather.date}">2015년7월55일</td>
							<td th:if="${#strings.equals(weather.weather.toString(), '비')}">
								<img src="http://marondal.com/material/images/dulumary/web/jstl/rainy.jpg">
							</td>
							<td th:if="${#strings.equals(weather.weather.toString(), '맑음')}">
								<img src="http://marondal.com/material/images/dulumary/web/jstl/sunny.jpg">
							</td>
							<td th:if="${#strings.equals(weather.weather.toString(), '구름조금')}">
								<img src="http://marondal.com/material/images/dulumary/web/jstl/partlyCloudy.jpg">
							</td>
							<td th:if="${#strings.equals(weather.weather.toString(), '흐림')}">
								<img src="http://marondal.com/material/images/dulumary/web/jstl/cloudy.jpg">
							</td>
							<td th:text="${weather.temperatures}">21.9</td>
							<td th:text="${weather.precipitation}">83</td>
							<td th:text="${weather.microDust}">보통</td>
							<td th:text="${weather.windSpeed}">2.9km/h</td>
						</tr>
					</tbody>
				</table>
			</div>		
		</div>
		<footer class="d-flex">
			<div class="image-Logo">
				<img width="200px" height="100px" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F5783%2F2020%2F09%2F11%2F0000010803_001_20200911115950442.jpg&type=sc960_832">
			</div>
			<div class="text-Logo mt-3">
				<span class="text-secondary ml-3">(07062)서울시 동작구 여의대방로16길 61</span>
				<br>
				<span class="text-secondary ml-3">Copyright@2024 test. All Rights</span>
			</div>
		</footer>
	</div>
</body>
</html>